body {
  background-color: #131313;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  background: url(../assests/background/backgroundimg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.App {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.493);
  height: 100%;
  width: 100%;
}

.App h2 {
  color: rgb(200, 255, 239);
}

.App nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.548);
  position: fixed;
  width: 100%;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 2vh 5vw;
  transition: all 0.2s;
}

nav a:hover {
  text-decoration: none;
  color: rgb(200, 255, 239);
  padding: 2vh 5vw;
}

nav a img {
  height: 100%;
  transition: all 2s;
}

nav a img:hover {
  transform: scale(1.4);
  transition: transform 2s;
  cursor: pointer;
}

.spacer {
  width: 100%;
  height: 95px;
}

.myLogo {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 8vh;
}

.myLogo img {
  height: 100%;
  transition: all 1s;
}
/* .myLogo img:hover {
  transform: scale(1.1);
  transition: transform 1s;
} */

/* socials */

.social-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.social-container a {
  transition: all 1s;
}
.social-container a:hover {
  transform: scale(0.8);
  transition: transform 1s;
}

/* about */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 22vw;
}

.question-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.541);
  border-radius: 20px;
  padding: 5vh;
  margin: 5vh 0vw;
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.548);
  transition: all 0.6s;
}

.row {
  display: flex;
}

.techs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 25vh;
}

.techs a {
  margin: auto;
  padding: 2vh 2vw;
}

/* .photos */

.photo-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: cover;
  flex-basis: 25%;
  margin: 3vh 3vw;
}

.photos img {
  max-width: 100%;
  max-height: 100%;
  transition: all 1s;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.548);
}
.photos img:hover {
  transition: transform 1s;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.548);
}

.single-photo {
  margin: 4vh 4vw;
  height: 85vh;
  width: auto;
}

.single-photo img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.548);
}

/* .project */
.projects {
  display: flex;
  flex-wrap: wrap;
  height: 93.4vh;
}

.project-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10vh 10vw;
  height: fit-content;
}

.project-divs a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.project-divs a:hover {
  text-decoration: none;
  color: red;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 20vw;
  flex-basis: 30%;
  border-radius: 20px;
  margin: 2vh 1vw;
  background-color: rgba(0, 0, 0, 0.123);
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.548);
  font-weight: bold;
  text-shadow: 3px 3px 8px rgb(0, 0, 0);
  transition: all 1s;
}

.one {
  background-image: url("../assests/photos/ghbusinesscard.png");
  background-position: center;
  background-size: cover;
}

.one:hover {
  background-image: url("../assests/photos/ghbusinesscard2.png");
  transition: all 1s;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(10, 10, 10);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
