body {
  background-color: #131313;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  background: url(../assests/background/backgroundimg.jpg) rgba(0, 0, 0, 0.363);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: multiply;
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: white;
  height: 350%;
  width: 100vw;
  overflow-x: hidden;
}

.App {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: white;
  /* background: rgb(0, 0, 0); */
  height: 100vh;
  width: 100vw;
}

.App h2 {
  color: rgba(0, 0, 0, 0.514);
  font-style: italic;
  font-weight: 900;
}

.App h3 {
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.spacer {
  height: 95px;
}

.myLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
}

.myLogo img {
  height: 100%;
}

/* socials */

.social-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2vh;
}
.social-container a {
  transition: all 1s;
}
.social-container a:hover {
  transform: scale(0.8);
  transition: transform 1s;
}

/* about */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 22vw;
}

.question-container-header {
  color: black;
  background: rgba(255, 255, 255, 0.589);
  height: 3vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.4vh;
  align-items: center;
  overflow: hidden;
  margin-top: 6vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.question-container-header h2 {
  padding-right: 1vw;
  padding-bottom: 0.3vh;
}

.button-container {
  display: flex;
  flex-direction: row;
  padding-left: 1.6vw;
  padding-bottom: 1.2vh;
}
.red {
  border-radius: 100%;
  background-color: rgba(248, 66, 66, 0.808);
  height: 1.4vh;
  width: 0.85vw;
  overflow: hidden;
  margin: 0.2vw;
}

.yellow {
  border-radius: 100%;
  background-color: rgba(255, 255, 0, 0.808);
  height: 1.4vh;
  width: 0.85vw;
  overflow: hidden;
  margin: 0.2vw;
}

.green {
  border-radius: 100%;
  background-color: rgba(111, 250, 111, 0.808);
  height: 1.4vh;
  width: 0.85vw;
  overflow: hidden;
  margin: 0.2vw;
}

.question-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.541);
  padding: 5vh 14vw;
  box-shadow: 1px 4px 12px 2px rgba(0, 0, 0, 0.384);
  transition: all 0.6s;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.row {
  display: flex;
}

.techs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 25vh;
}

.techs a {
  margin: auto;
  padding: 2vh 2vw;
}

/* .photos */
.photo-container-header {
  color: black;
  background: rgba(255, 255, 255, 0.589);
  height: 3vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.4vh;
  align-items: center;
  overflow: hidden;
  margin-top: 6vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.photo-container-header h2 {
  padding-right: 1.2vw;
  padding-bottom: 0.3vh;
}

.photo-container {
  margin: 5vw;
  margin-bottom: 200px;
}
.photo-content {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.541);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: cover;
  flex-basis: 20%;
  margin: 3vh;
}

.photos img {
  max-width: 100%;
  max-height: 100%;
  transition: all 1s;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.548);
}
.photos img:hover {
  transition: transform 1s;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.548);
}

.single-photo {
  margin: 4vh 4vw;
  height: 85vh;
  width: auto;
}

.single-photo img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.548);
}

/* .project */
.ant-card {
  border-radius: 25px;
  overflow: hidden;
}

.ant-card-bordered {
  background-color: rgba(255, 255, 255, 0.945);
  border: 0px;
}

.ant-card-body {
  color: white;
  padding: 0 2vw;
  padding-top: 1vh;
}

.card-div {
  padding: 0 2vw;
}
.ant-card-actions {
  width: 300;
  background-color: rgba(255, 255, 255, 0);
  border-top: 0px;
  border-radius: 25px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-divs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10vh 10vw;
  height: fit-content;
}

.project-divs a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.project-divs a:hover {
  text-decoration: none;
  color: red;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 20vw;
  flex-basis: 30%;
  border-radius: 20px;
  margin: 2vh 1vw;
  background-color: rgba(0, 0, 0, 0.123);
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.548);
  font-weight: bold;
  text-shadow: 3px 3px 8px rgb(0, 0, 0);
  transition: all 1s;
}

.one {
  background-image: url("../assests/photos/ghbusinesscard.png");
  background-position: center;
  background-size: cover;
}

.one:hover {
  background-image: url("../assests/photos/ghbusinesscard2.png");
  transition: all 1s;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.904);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}
